[Unit]
Description=Hostrix API
After=network-online.target mariadb.service
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/hostrix/hostrix.env
WorkingDirectory=/opt/hostrix
ExecStart=/opt/hostrix/bin/hostrix-api
Restart=on-failure
RestartSec=3
LimitNOFILE=65535
User=root

[Install]
WantedBy=multi-user.target
